body{
    width: 100vw;
    height:100vh;
    
}

.sect_body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(247, 247, 247);

}

.body_logo{
    width: 100%;
    height: 12%;
    display: flex;
    font-size: 30px;
    transform: scale(2, 3); 
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    .color-rojo{
        color: rgb(221, 53, 53);
    }
    .color-azul {
        color: #1f62eb;
    }
    .color-amari {
        color: #e2cc00;
    }
    .color-verde {
        color: #059c05;
    }
}



.body_buscador{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}
.form-control{
border-radius: 30px;
padding-left: 2rem;
padding-right: 4rem;
justify-content: center;
margin: 1rem;
}
.body_app{
    display: flex;
    flex-direction: row;
}
.logo_1{
    display: flex;
    padding: 12px;
    margin-left: 30px;
    margin-right: 30px ;
    background-color: rgb(199, 199, 199);
    border-radius: 50px;
    cursor: pointer;


}
.logo_2{
    display: flex;
    padding: 12px;
margin-left: 30px;
margin-right: 30px ;
background-color: rgb(199, 199, 199);
border-radius: 50px;
cursor: pointer;

}
.logo_3{
    display: flex;
    padding: 12px;
    margin-left: 30px;
margin-right: 30px ;
background-color: rgb(199, 199, 199);
border-radius: 50px;
cursor: pointer;

}
.logo_4{
    display: flex;
    padding: 12px;
    margin-left: 30px;
margin-right: 30px ;
background-color: rgb(199, 199, 199);
border-radius: 50px;
cursor: pointer;

}   